  <form action="/names" method="post">

      <label for="player_1_name"> 
      Name of 1st player:
      <input placeholder="name" type="text" name="player_1_name">
      </label>

      <label for="player_2_name"> 
      Name of 2nd player:
      <input placeholder="name" type="text" name="player_2_name">
      </label>

      <input type="submit" value="Submit" style="color:red">

  </form> 